a.btn,
button.btn {
  background-color: $c-button-background;
  color: $c-button-font;
  border: 2px solid $c-button-border;
  &:hover, &:focus {
    background-color: darken($c-button-background, 15% );
    text-decoration: none;
    color: $c-button-font;
  }
  font-family: $ff-neuton;

  border-radius: 10px;

  padding: $spacing-sm $spacing-md;

  @media screen and (max-width: $width-sm) {
    font-size: 18px;
  }

}


button.btn-style-2 {
  color: #67250d;
  background: #fbad17;
  border: 2px solid #67250d;
}

button.btn {
  text-transform: uppercase;
}