.location-card {
  background: white;
  border-radius: 15px;
  margin: 30px 0;
  @media (max-width: $width-md) {
    margin-bottom: 5px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0);
  }
  &__bottom {
    background-color: #7BD1EA;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

#google-map5 {
  height: 700px;
  @media (max-width: $width-md) {
    height: 300px;
  }
}

#content .floating-card {
  position: absolute;
  z-index: 10;
  left: 50%;
  margin-left: -570px;
  @media (max-width: $width-md) {
    padding-left: 0;
    padding-right: 0;
    position: static;
    text-align: center;
    width: 100% !important;
    margin-left: 0px;
    background-color: #f9f9f9;
    & .floating-card--col-fix {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.hours {
  & li {
    list-style: none;
    text-align: left;
  }
}

#section-location {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

#section-location .location-logo {
  background-color: #3A2A31;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 5px solid white;
  padding-bottom: 15px;
  & img {
    max-width: 350px;
    @media (max-width: $width-xs) {
      max-width: 200px;
    }
  }
}

th {
width: 1px;
white-space: nowrap;
text-align: right;
}

td {
  text-align: right;
}

table {
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}