.team-carousel{
  text-align: center;
  & img {
    margin-right: auto;
    margin-left: auto;
    max-width: 250px;
  }
}


.img-hover-plus {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  &:hover:after {
    content: "+";
    position: absolute;
    top: 50%;
    color: white;
    font-size: 60px;
    left: 50%;
    margin-left: -17px;
    margin-top: -45px;
    z-index: 11;
  }
  &:hover:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.37);
  }
}

.owl-carousel .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  right: 0px;
  zoom: 1;
  width: 60px;
  height: 60px;
  line-height: 32px;
  border: none;
  color: $c-white;
  background-color: $c-black-grey;
  font-size: 32px;
  border-radius: $spacing-xs;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  & [class*=icon-] {
    position: absolute;
    left: 30px;
    top: 14px;
    width: 32px;
    margin-left: -16px;
  }
}
.owl-carousel .owl-nav .owl-prev {
  left: 0;
}

.owl-carousel:hover .owl-nav .owl-next {
  left: auto;
  right: 0;
}
.owl-carousel:hover .owl-nav .owl-prev {
  opacity: 1;
  left: 0;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
  background-color: darken($c-black-grey, 10%) !important;
  color: $c-white !important;
  text-decoration: none;
}