#section-about {
  background-color: $c-white;
  .hiero {
    background-image: url(../assets/team-section.jpg);
    height: 400px;
    background-size: cover;
    background-position: center top;
  }
  h2 {
    margin-top: $spacing-sm;
    color: $c-teal;
  }
  p:last-child {
    color: $c-teal;
    font-style: italic;
    padding-bottom: $spacing-lg;
  }
}
