@mixin nav-color($color, $child:false) {
  @if $child {
    li:nth-child(#{$child}) {
      & a {
        color: $color;
        &:hover {
          color: $color;
        }
        &>div {
          color: $color;
        }
      }
    }
  } @else {
    li {
      & a {
        color: $color;
        &:hover {
          color: $color;
        }
        &>div {
          color: $color;
        }
      }
    }
  }

}


#header.full-header {
  #primary-menu-trigger {
    font-size: 30px;
    pointer-events: auto;
  }
  & #header-wrap {
    background-color: $c-white;
  }
  & #logo {
    padding-right: 0;
    margin-right: 0px;
    border-right: none;
  }

  & #primary-menu > ul {
    margin-right: 0;
    border-right: none;

    @include nav-color($c-black);
    @include nav-color($c-brick, 1);
    @include nav-color($c-blue, 2);
    @include nav-color($c-teal, 3);
  }
  
}

