
#primary-menu-trigger {
  font-size: 30px;
  pointer-events: auto;
}

#header.full-header #primary-menu > ul {
  margin-right: 0;
  border-right: none;
}

#header.full-header #logo {
  padding-right: 0;
  margin-right: 0px;
  border-right: none;
}
