
#section-insurance {
  .wrapper {
    display: flex;
    @media screen and (max-width: $width-md) {
      flex-direction: column;
    }
  }

  .image {
    width: 50%;
    background-image: url('/assets/membership-photo.jpg');
    background-size: cover;
    background-position: center center;
    order: -1;
    img {  display: none;  }
    @media screen and (max-width: $width-md) {
      img {  display: block;  }
      width: 100%;
      order: 0;
    }
  }
  .text {
    width: 50%;
    padding: $spacing-xl;
    padding-top: $spacing-md;

    @media screen and (max-width: $width-md) {
      width: 100%;
      text-align: center;
    }
    h2 {
      color: $c-brick;
      margin-bottom: 0;
      line-height: $lh-sm;
    }
    h3 {
      color: $c-brick;
      font-family: $ff-neuton;
      line-height: $lh-xs;
    }
    h4 {
      color: $c-teal;
      font-family: $ff-neuton;
    }
    h5 {
      font-family: $ff-neuton;
    }
    h6 {
      font-family: $ff-neuton;
    }
    .btn {
      box-shadow: 0 2px 4px rgba(0,0,0,0.5);
      padding-left: $spacing-xl;
      padding-right: $spacing-xl;
    }
  }
  
  @media (max-width: $width-sm) {
    background-image: none;
    & .insurance-mobile-fix {
      margin-top: -100px;
    }
  }
}
