.phone-slab {
  background-color: $c-teal-light;
  .container {
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;

  }

  .row:first-child {
    padding-bottom: $spacing-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: $lh-sm;
    margin-bottom: 0;
  }

  h3 {
    @media screen and (max-width: $width-md) {
      margin-bottom: 30px;
    }
  }

  .text {
    font-family: $ff-neuton;
    color: $c-black-blue;
  }

  .phone-number {
    font-family: $ff-oswald;
    color: $c-black-blue;
  }

  &__left {
    text-align: right;
    border-right: solid 2px $c-white;
    margin-top: 5px;
    @media screen and (max-width: $width-md) {
      text-align: center;
      border-right: none;
    }
    @media screen and (max-width: $width-sm) {
    }
    @media screen and (max-width: $width-xs) {
    }
  }
  &__right {
    text-align: left;
    @media screen and (max-width: $width-md) {
      text-align: center;
    }
    @media screen and (max-width: $width-sm) {
    }
    @media screen and (max-width: $width-xs) {
    }
  }
}


