#section-tour {
  padding-top: $spacing-xs;
  background-color: $c-blue-grey;
  .heading {
    text-align: center;
    color: $c-black-grey;
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;
    margin-bottom: 0;
  }
    padding-bottom: $spacing-xl;
}