//Button Color
$c-button-background: #FF6B27;
$c-button-border: #FFF;
$c-button-font: #FFF;

//Font Colors
$c-brick: #FF6B27;
$c-brick-light: #FE9470;
$c-blue: #4C5467;
$c-teal: #3CAAA5;
$c-black: #020600;
$c-black-pure: #000000;
$c-black-blue: #021C44;
$c-blue-three: #03435C;
$c-black-purple: #4A4A4A;
$c-black-grey: #4C5467;

//Background Colors
$c-white: #FFFFFF;
$c-teal-light: #5AC8C0;
$c-teal-dark: #339C94;
$c-blue-grey: #DFE5EB;

//Specials Cards
$c-card1: #FE9470;
$c-card2: #5AC8C0;
$c-card3: #4C5467;

//Misc
$c-star: #FFF233;