//Button Color
$c-button-background: #FF6B27;
$c-button-border: #FFF;
$c-button-font: #FFF;


//Font Colors
$c-brick: #FF6B27;
$c-blue: #4C5467;
$c-teal: #3CAAA5;
$c-black: #020600;
$c-black-blue: #021C44;

//Background Colors
$c-white: #FFFFFF;
$c-teal-light: #5AC8C0;