//Button Color
$c-button-background: #FF6B27;
$c-button-border: #FFF;
$c-button-font: #FFF;


//Font Colors
$c-brick: #FF6B27;
$c-blue: #4C5467;
$c-teal: #3CAAA5;
$c-black: #020600;
$c-black-blue: #021C44;
$c-black-purple: #4A4A4A;
$c-black-grey: #4C5467;

//Background Colors
$c-white: #FFFFFF;
$c-teal-light: #5AC8C0;
$c-blue-grey: #DFE5EB;

//Specials Cards
$c-card1: #FE9470;
$c-card2: #5AC8C0;
$c-card3: #4C5467;